<component name="libraryTable">
  <library name="spring-context-5.0.2.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/Spring/lib/spring-context-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/Spring/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/Spring/lib/spring-beans-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/Spring/lib/spring-core-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/Spring/lib/spring-expression-5.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>